extends layout

block content
	// Navigation
	nav.navbar.navbar-default.navbar-fixed-top
		.container
			// Brand and toggle get grouped for better mobile display
			.navbar-header.page-scroll
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='#page-top')
					i.fa.fa-user
					|	 Alex Pelletier
			// Collect the nav links, forms, and other content for toggling
			#bs-example-navbar-collapse-1.collapse.navbar-collapse
				ul.nav.navbar-nav.navbar-right
					li.hidden
						a(href='#page-top')
					li.page-scroll
						a(href='#portfolio') Projects
					li.page-scroll
						a(href='#about') About
					li.page-scroll
						a(href='#skills') Skills
					li.page-scroll
						a(href='#contact') Contact
	header
		.container
			.row
				.col-lg-12
					img.img-responsive(style='width: 175px; border-radius: 100px;', src='img/Headshot.jpg', alt='')
					.intro-text
						span.name Alex Pelletier
						hr.star-light
						span.skills Full Stack Developer - Entrepreneur - Designer
						br
						br
						br
						br
	// Portfolio Grid Section
	section#portfolio
		div#project-items

	// About Section
	section#about.success
		.container
			.row
				.col-lg-12.text-center
					h2 About
					hr.star-light
			.row
				.col-lg-4.col-lg-offset-2
					p
						| Alex Pelletier has launched 2 startups, several ios apps, and numerous websites. He has been a paid
						| programmer for the past
						| years
						sup
							i#time-tt.fa.fa-info-circle(style='color: #2C3E50; ', data-toggle='tooltip', data-placement='top', title='dynamic')
						| . And He has recently made and sold business to business, web, and mobile
						|										 softwares. He is also good at marketing, managment, and company planning. Alex is currently a senior in high school.
				.col-lg-4
					p
						| In his free time Alex enjoys hanging out with friends, Kayaking, and watching netflix.
					p
						| Alex knows a variety of languages include objective-c, python, php, mysql, java, R, js, jQ
						| uery, swift, mysql, html, css, visual basic, and ardunio.
				.col-lg-8.col-lg-offset-2.text-center
	// Skills
	section#skills
		.container
			.row
				.col-lg-12.text-center
					h2 Skills
					hr.star-primary
			.row
				.col-lg-3.text-center
					p Web Development
					script(type='text/javascript').
						$(function(){
						var data = [
						{
						value: 93,
						color:"#F7464A",
						highlight: "#FF5A5E",
						label: "PHP"
						},{
						value: 85,
						color: "#46BFBD",
						highlight: "#5AD3D1",
						label: "MySQL"
						},{
						value: 91,
						color: "#FDB45C",
						highlight: "#FFC870",
						label: "HTML"
						},{
						value: 76,
						color: "#949FB1",
						highlight: "#A8B3C5",
						label: "CSS"
						},{
						value: 92,
						color: "#4D5360",
						highlight: "#616774",
						label: "JS"
						}
						];
						data = shuffle(data);
						var ctx = document.getElementById("skill-chart-1").getContext("2d");
						new Chart(ctx).PolarArea(data, {scaleLabel: "<%=value%>%",tooltipTemplate: "<%if (label){%><%=label%>: <%}%><%= value %>%",});
						legend(document.getElementById('placeholder'), data);
						});
					canvas#skill-chart-1(style='width: 150%; margin-left: -25%;')
					.row
						.col-xs-8.col-xs-offset-2
							#placeholder
				.col-lg-3.text-center
					p iOS Development
					script(type='text/javascript').
						$(function(){
						var data = [
						{
						value: 95,
						color:"#F7464A",
						highlight: "#FF5A5E",
						label: "Obj-C"
						},{
						value: 82,
						color: "#FDB45C",
						highlight: "#FFC870",
						label: "WatchOS"
						},{
						value: 90,
						color: "#949FB1",
						highlight: "#A8B3C5",
						label: "Coco Pods"
						},{
						value: 96,
						color: "#46BFBD",
						highlight: "#5AD3D1",
						label: "Swift"
						},{
						value: 100,
						color: "#4D5360",
						highlight: "#616774",
						label: "Apple Fan"
						}
						];
						data = shuffle(data);
						var ctx = document.getElementById("skill-chart-2").getContext("2d");
						new Chart(ctx).PolarArea(data, {scaleLabel: "<%=value%>%",tooltipTemplate: "<%if (label){%><%=label%>: <%}%><%= value %>%",});
						legend(document.getElementById('skill-legent-2'), data);
						});
					canvas#skill-chart-2(style='width: 150%; margin-left: -25%;')
					.row
						.col-xs-8.col-xs-offset-2
							#skill-legent-2
				.col-lg-3.text-center
					p Design
					script(type='text/javascript').
						$(function(){
						var data = [
						{
						value: 80,
						color: "#949FB1",
						highlight: "#A8B3C5",
						label: "Sketch"
						},{
						value: 91,
						color:"#F7464A",
						highlight: "#FF5A5E",
						label: "illustrator"
						},{
						value: 83,
						color: "#46BFBD",
						highlight: "#5AD3D1",
						label: "Indesign"
						},{
						value: 72,
						color: "#FDB45C",
						highlight: "#FFC870",
						label: "Photoshop"
						},{
						value: 78,
						color: "#4D5360",
						highlight: "#616774",
						label: "Mockups"
						}
						];
						data = shuffle(data);
						var ctx = document.getElementById("skill-chart-3").getContext("2d");
						new Chart(ctx).PolarArea(data, {scaleLabel: "<%=value%>%",tooltipTemplate: "<%if (label){%><%=label%>: <%}%><%= value %>%",});
						legend(document.getElementById('skill-legent-3'), data);
						});
					canvas#skill-chart-3(style='width: 150%; margin-left: -25%;')
					.row
						.col-xs-8.col-xs-offset-2
							#skill-legent-3
				.col-lg-3.text-center
					p Other
					script(type='text/javascript').
						$(function(){
						var data = [
						{
						value: 80,
						color: "#949FB1",
						highlight: "#A8B3C5",
						label: "Java"
						},{
						value: 91,
						color:"#F7464A",
						highlight: "#FF5A5E",
						label: "Python"
						},{
						value: 72,
						color: "#46BFBD",
						highlight: "#5AD3D1",
						label: "Ruby"
						},{
						value: 84,
						color: "#FDB45C",
						highlight: "#FFC870",
						label: "Marketing"
						},{
						value: 78,
						color: "#4D5360",
						highlight: "#616774",
						label: "Managment"
						}
						];
						data = shuffle(data);
						var ctx = document.getElementById("skill-chart-4").getContext("2d");
						new Chart(ctx).PolarArea(data, {scaleLabel: "<%=value%>%",tooltipTemplate: "<%if (label){%><%=label%>: <%}%><%= value %>%",});
						legend(document.getElementById('skill-legent-4'), data);
						});
					canvas#skill-chart-4(style='width: 150%; margin-left: -25%;')
					.row
						.col-xs-8.col-xs-offset-2
							#skill-legent-4
	// Resumé
	section#resume.success
		.container
			.row
				.col-lg-12.text-center
					h2 Résumé
					hr.star-light
					a(href='\Alex Pelletier Resume.pdf', target='_blank')
						button.btn.btn-primary.btn-lg(type='button') Download Résumé
			.row
	// Contact Section
	section#contact
		.container
			.row
				.col-lg-12.text-center
					h2 Contact Me
					hr.star-primary
			#contact-us
				
	// Footer
	footer.text-center
		.footer-above
			.container
				.row
					.footer-col.col-md-4
						h3 Location
						p
							| 8780 Skyland Drive
							br
							| Niwot, CO 80503
					.footer-col.col-md-4
						h3 Around the Web
						ul.list-inline
							li
								a.btn-social.btn-outline(target='_blank', href='https://www.facebook.com/alex.pelletier.167')
									i.fa.fa-fw.fa-facebook
							li
								a.btn-social.btn-outline(target='_blank', href='http://stackoverflow.com/users/2234641/alex-pelletier')
									i.fa.fa-fw.fa-stack-overflow
							li
								a.btn-social.btn-outline(target='_blank', href='https://twitter.com/Alexpell00')
									i.fa.fa-fw.fa-twitter
							li
								a.btn-social.btn-outline(target='_blank', href='http://www.linkedin.com/pub/alex-pelletier/72/33a/517/')
									i.fa.fa-fw.fa-linkedin
							li
								a.btn-social.btn-outline(target='_blank', href='https://github.com/alexpell00')
									i.fa.fa-fw.fa-github
							li
								a.btn-social.btn-outline(href='mailto:alexpell00@yahoo.com')
									i.fa.fa-fw.fa-envelope-o
							li
								a.btn-social.btn-outline(target='_blank', href='https://angel.co/alex-pelletier-167')
									i.fa.fa-fw.fa-angellist
							li
								a.btn-social.btn-outline(href='skype:alexpell001?add')
									i.fa.fa-fw.fa-skype
							li
								a.btn-social.btn-outline(target='_blank', href='http://instagram.com/alexpell00')
									i.fa.fa-fw.fa-instagram
					.footer-col.col-md-4
						h3 About This Site
						p This website was created with HTML, JS, CSS, PHP, and MySQL. Hope you enjoy!
		.footer-below
			.container
				.row
					.col-lg-12
						| Copyright © Alex Pelletier 2014
	// Scroll to Top Button (Only visible on small and extra-small screen sizes)
	.scroll-top.page-scroll.visible-xs.visble-sm
		a.btn.btn-primary(href='#page-top')
			i.fa.fa-chevron-up
	#project-modal-container